<html>
    <body>
        <h1>Quotes</h1>
        <hr>
        <table>
            {% for item in data %}
            <tr>
                <td>
                    {{item["text"]}}
                </td>
                <td>
                    <em>--</em>
                    <em>{{item["author"]}}</em>
                </td>
                <td>
                    [
                    <a href="/edit/{{item['_id']}}">{{item["_id"]}}</a>
                    <a href="/delete/{{item['_id']}}">{{item["_id"]}}</a>
                    ]
                </td>
            </tr>
            {% endfor %}
        </table>
        <hr/>
        <a href="/add">Add a new quote!</a>
        <hr />
        You have been here {{number_of_visits}} times!
        <hr />
        Session ID = {{session_id}} times!
        <hr />
        User = {{user}} (<a href="/logout">Logout</a>)
    </body>
</html>